body {background:#111; color:#eee; margin:0px 10px 0px 10px; font-family:Lucida Console, Courier New, monospace; font-weight:normal; font-size:90%;}
td, input, textarea {font-family:Lucida Console, Courier New, monospace; font-weight:normal; font-size:90%;}
body, ul.menu {scrollbar-border:1px solid #111; scrollbar-face-color:#111; scrollbar-track-color:#444; scrollbar-base-color:#111; scrollbar-highlight-color:#eee; scrollbar-shadow-color:#eee; scrollbar-darkshadow-color:#111; scrollbar-arrow-color:#eee;}
a {color:#fff; text-decoration:underline;}
a:hover {background-color:#fff; text-decoration:none; color:#000; border-bottom: none;}
a.nohover:hover {background-color:#111; border: none;}
a.link {text-decoration:none; border-bottom: 1px dashed #fff;}
#top {position:static;}
ul.menu {list-style:none; margin:0; background:#111; padding:5px 0 5px 0; }
div.submenu {height:10px; background:url(images/thr.png) repeat-x;}
div.data {margin-top:10px;}
ul.menu li {display:inline; text-transform:uppercase;}
ul.menu a {text-decoration:none;}
ul.menu a.selected {background:#ddd; text-decoration:none; color:#000;}
ul.menu a.selected:hover {background:#fff}
div.lang {float:right; text-transform:uppercase; padding:5px 0;}
ul.list {list-style:none; margin:0; padding:0;}
ul.list li {margin-bottom:1.5em;}
hr {border: none; border-top:1px dashed #eee; margin: 10px 0; padding: 0;}
.hr {border-top:1px solid #eee; padding-top:10px; margin-top:10px;}
.screenmemory {padding:10px; background:url(images/bottom.gif); text-align:center;}
form {margin:0 auto; padding:4px 30px; text-align:left;}
form.form {display:none;}
form input.text,form textarea {width:100%; border:none; background:#111; color:#eee; padding:2px; margin:2px;}
form label {background:#111; color:#eee; padding:2px 10px 2px 0px; margin:2px; margin-bottom:10px; display:inline-block;}
form textarea {clear:both;}
form textarea {overflow:auto;}
form .button {border:none; background:#111; text-transform:uppercase; text-decoration:underline; color:#eee; cursor:pointer;}
form .button:hover, form .button.hover {text-decoration:none; background:#fff; color:#000;}
ul.list b {color:#fff;}
ul.list b a {color:#fff; text-decoration:none;}
.forum_theme {color:#fff;}
.forum_theme a {text-transform:uppercase;}
a.preview {padding-left:20px; background-image:url(images/icon-eye.gif); background-repeat:no-repeat; background-position:0 2px;}
img.preview {padding:10px; margin-top:2px; border:1px solid #888; background-color:#000;}
.cursor {color:#111; background:#eee;}
form.search, form.search_result {padding:0; margin:0;}
form.search input.field, form.search_result input.field {background:#111; color:#eee; border:none;}
.unplugged {background:#888;}
@media (min-width:1200px) {
#top {position:fixed; top:0px; left:55px; right:55px;}
div.data {margin-top:55px;}
body {margin:0px 55px 0px 55px;}
}
