/*  phpBB3 Style Sheet         
    --------------------------------------------------------------
	Style name:		 Getaway
	Based on style:	 subsilver2
	Original author: Tom Beddard ( http://www.subBlue.com/ )
	Modified by:	 stsoftware ( http://www.stsoftware.biz/ )
    --------------------------------------------------------------
*/

/* Layout
 ------------ */
* {
	/* Reset browsers default margin, padding and font sizes */
	margin: 0;
	padding: 0;
}

html {
	font-size: 100%;
}

body {
	/* Text-Sizing with ems: http://www.clagnut.com/blog/348/ */
	font-family: "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
	color: #000;
	background: #e2e6ed url(images/body.gif);
	font-size: 10px;
	margin: 0;
	padding: 0 10px;
}
#body-simple {
	background: #edf0f5 url(images/content.gif);
	padding: 5px;
}

/* Misc stuff */
img {
	border: none;
}

.gen {
	margin: 1px 1px;
	font-size: 1.2em;
}

.genmed {
	margin: 1px 1px;
	font-size: 1.1em;
}

.gensmall {
	margin: 1px 1px;
	font-size: 1em;
}

.titles {
	font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
	font-weight: bold;
	font-size: 1.3em;
	text-decoration: none;
}

.online {
    color: green;
}

.offline, .error, table td .error, .inactive {
	color: #e30304;
}

.spacer {
	color: #e6eaf0; 
	background: #5e758e url(images/th.gif) top left repeat-x;
	border: solid 1px #324962;
	padding: 1px;
}

.current {
    background-color: lightblue;
}

hr	{ height: 0px; border: solid #8c9fb2 0px; border-top-width: 1px;}

.pagination {
	padding: 4px;
	font-size: 1em;
	font-weight: bold;
}

/* Links
 ------------ */
.rtl a {
	direction: rtl;
	unicode-bidi: embed;
}

/* CSS spec requires a:link, a:visited, a:hover and a:active rules to be specified in this order. */
/* See http://www.phpbb.com/bugs/phpbb3/59685 */

a {
	color: #325375;
	text-decoration: none;
}

a:active,
a:visited {
	color: #325375;
	text-decoration: none;
}

a:hover {
	color: #e30304;
	text-decoration: underline;
}

a.forumlink {
	font-weight: bold;
	font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
	font-size: 1.2em;
}

a.topictitle {
	margin: 1px 0px;
	font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
	font-weight: bold;
	font-size: 1.2em;
}

a.topictitle, .postbody a {
	color: #325375;
}
a.topictitle:visited, .postbody a:visited {
	color: #394c5f;
}
a.topictitle:visited:hover, .postbody a:visited:hover {
	color: #6a819a;
}
a.topictitle:hover, .postbody a:hover {
	color: #e30304;
}

/* Header and logo */
#maintable {
    margin: 0 auto;
}

#mainrow {
    border-left: solid 1px #4c6a88;
    border-right: solid 1px #4c6a88;
    border-bottom: solid 1px #4c6a88;
    background: #fff url(images/borders.gif);
    padding: 0 2px 2px;
}
#mainrow>div, #logorow, .navrow, #contentrow {
    margin-left: 0;
    margin-right: 0;
    border-left: solid 1px #4c6a88;
    border-right: solid 1px #4c6a88;
}
#mainrow>div#contentrow, #contentrow {
	border-bottom: solid 1px #4c6a88;
}

#logorow { 
    background: #1a1f29 url(images/logo_bg.gif) top left repeat-x; 
}
#logo1 { 
    background: url(images/logo_left.jpg) top left no-repeat; 
    padding: 0; 
    min-height: 71px;
    max-height: 71px;
    height: 71px;
    overflow: hidden;
    text-align: center;
}
#logo2 { 
    background: url(images/logo_right.jpg) top right no-repeat; 
    padding: 0; 
    min-height: 71px;
}
#logo-text {
    padding-top: 2px; /* adjust this to center your logo */
}

#contentrow { background: #edf0f5 url(images/content.gif); padding: 4px 7px; }

.pm-notify-new, .pm-notify-unread {
	background: #dadfe7 url(images/cell.gif) top left repeat-x;
	border-left: solid 1px #768da4;
	border-top: solid 1px #5a7591;
	border-bottom: solid 1px #4c6a88;
	border-right: solid 1px #68819b;
	margin: 10px 0;
	padding: 10px;
	text-align: center;
	font-size: 12px;
	font-weight: bold;
}
.pm-notify-new a, .pm-notify-new a:visited, .pm-notify-unread a, .pm-notify-unread a:visited { text-decoration: underline; }
.pm-notify-header {
	margin-bottom: 10px;
	color: #e30304;
}
.pm-notify-new { 
    border: solid 1px #e30304;
    padding: 30px; 
}

/* Navigation buttons */
.navrow {
	height: 15px;
	overflow: hidden;
	color: #a1b2d0;
	background: #fff url(images/navbar.gif) top left repeat-x;
	border-top: solid 1px #4c6a88;
	border-bottom: solid 1px #4c6a88;
	text-align: center;
	font-size: 11px;
	padding: 4px;
}
/* * html .navrow { padding: 0; } */
.navrow b, .navrow strong { font-weight: normal; }
.navrow a, .navrow a:visited {
	color: #e7ebf0;
	text-decoration: none;
	padding-left: 5px;
	padding-right: 5px;
}
.navrow a:hover { 
	color: #fff; 
	text-decoration: underline; 
}

a.link-new, a.link-new:visited { color: #e30304; }
a.link-new:hover, a.link-new:visited:hover { color: #d24747; }

/* Content and tables */
.tablebg {
	border: solid 1px #4c6a88; 
    background: #fff url(images/table.gif);
}
.block-start .tablebg, .block-start .tablebg .block-start .tablebg { 
    border-top-width: 0; 
}
.block-start .tablebg .tablebg { 
    border-top-width: 1px; 
}

.row1, .row2, .row3, .legend, .forumrules, tr.row1 .row, tr.row2 .row, tr.row3 .row, .postbottom {
	background: #dadfe7 url(images/cell.gif) top left repeat-x;
	border-left: solid 1px #768da4;
	border-top: solid 1px #5a7591;
	border-bottom: solid 1px #4c6a88;
	border-right: solid 1px #68819b;
	padding: 4px;
}
th {
	color: #e6eaf0; 
	font-size: 11px; 
	font-weight: bold;
	background: #5e758e url(images/th.gif) top left repeat-x;
	border: solid 1px #324962;
	white-space: nowrap;
	padding: 0 5px;
	text-align: center;
	height: 20px;
}
th a, th a:visited {
	color: #e6eaf0 !important;
	text-decoration: underline;
}
th a:hover {
	color: #fff;
	text-decoration: underline;
}

td {
	padding: 2px;
}
td.profile {
	padding: 4px;
}
.catdiv, .cat, .cathead {
	height: 24px;
	padding: 0 3px;
	background: #e5e9ee url(images/cathead.gif) top left repeat-x;
	border-left: solid 1px #768da4;
	border-top: solid 1px #5a7591;
	border-bottom: solid 1px #4c6a88;
	border-right: solid 1px #68819b;
}

.cat, .cathead {
	text-indent: 4px;
}

/* Table header */
caption, .cap-div { 
	margin: 0; 
	padding: 0;
	background: url(images/hdr_mid.gif) top left repeat-x;
	white-space: nowrap;
	height: 21px;
	text-align: left;
}
.cap-left {
	background: url(images/hdr_left.gif) top left no-repeat;
	padding-left: 17px;
}
.cap-right {
	background: url(images/hdr_right.gif) top right no-repeat;
	padding-right: 17px;
	padding-top: 5px;
	height: 16px;
}
caption, caption h1, caption h2, caption h3, caption h4, caption span,
.cap-div, .cap-div h1, .cap-div h2, .cap-div h3, .cap-div h4, .cap-div span { 
	font-size: 11px;
	font-weight: bold;
	text-transform: uppercase;
	color: #f1f4f8;
}
caption h1, caption h2, caption h3, caption h4, caption span,
.cap-div h1, .cap-div h2, .cap-div h3, .cap-div h4, .cap-div span { 
	display: inline;
}
caption a, caption a:visited, .cap-div a, .cap-div a:visited {
	color: #f1f4f8;
	text-decoration: underline;
}
caption a:hover, .cap-div a:hover {
	color: #fff;
	text-decoration: underline;
}

/* Footer */
#wrapfooter {
	text-align: center;
	color: #8a8a8a;
	padding-top: 10px;
}

.copyright {
	color: #666;
	font-weight: normal;
	font-size: 9px;
	line-height: 1.2em;
}
.copyright a, .copyright a:visited {
	color: #666;
	text-decoration: none;
}
.copyright a:hover { 
    color: #325375; 
	text-decoration: underline;
}


/* Breadcrumbs */
p.breadcrumbs {
	margin: 0;
	padding: 0;
	float: left;
	color: #57687a;
	font-weight: bold;
	white-space: normal;
	font-size: 1em;
}
.rtl p.breadcrumbs {
	float: right;
}

p.datetime {
	margin: 0;
	padding: 0;
	float: right;
	white-space: nowrap;
	font-size: 1em;
}

.rtl p.datetime {
	float: left;
}

/* Index/viewforum */
.subforum.read { 
	background: url(images/sub_old.gif) top left no-repeat;
	padding-left: 12px;
}
.subforum.unread { 
	background: url(images/sub_new.gif) top left no-repeat;
	padding-left: 12px;
}
.legend {
	text-align: center;
	margin: 0 auto;
	padding: 2px;
}
.legend-viewforum { 
	margin: 0; 
	text-align: left; 
}

.forumrules {
	padding: 4px;
	font-weight: normal;
	font-size: 1.1em;
	border-left: solid 1px #768da4;
	border-top: solid 1px #5a7591;
	border-bottom: solid 1px #4c6a88;
	border-right: solid 1px #68819b;
	background: #dadfe7 url(images/cell.gif) top left repeat-x;
	font-family: "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
}
.forumrules h3 {
	color: #e30304;
}

/* Post */
.postsubject {
	font-size: 12px;
	font-weight: bold;
	color: #325375;
}
td.postbottom { 
	background: #ced3da url(images/profile.gif) top left repeat-x; 
	font-size: 10px;
	color: #57687a;
	white-space: nowrap;
	padding: 2px 4px;
	vertical-align: middle;
	border-left: solid 1px #768da4;
	border-top: solid 1px #5a7591;
	border-bottom: solid 1px #4c6a88;
	border-right: solid 1px #68819b;
}
td.postbuttons { padding-top: 4px; }
.postdetails { 
	color: #57687a;
	font-size: 10px; 
	text-align: left;
}
.postdetails b {
	color: #57687a;
	font-weight: normal;
}
.posterrank		{ font-size: 9px; color: #57687a; }
.posterprofile	{ font-size: 10px; color: #325375; }

.postauthor {
	color: #325375;
	font-size: 12px;
	margin-bottom: 3px;
	font-weight: bold;
}
.postonline { margin-bottom: 2px; }

.postreported, .postreported a:link, .postreported a:visited, .postreported a:hover, .postreported a:active {
	margin: 1px 0px;
	color: #e30304;
	font-weight: bold;
}

.postapprove, .postapprove a:link, .postapprove a:visited, .postapprove a:hover, .postapprove a:active {
	color: #27a833;
	font-weight: bold;
}

.postapprove img, .postreported img {
	vertical-align: bottom;
	padding-top: 5px;
}

.postbody {
	font-size: 12px;
	line-height: 1.4em;
	margin: 3px 0;
}
.signature {
	font-size: 11px;
	color: #57687a;
	margin-top: 5px;
}
.signature .line { color: #66788b; }

.postbody li, ol, ul {
	margin: 0 0 0 1.5em;
}

.rtl .postbody li, .rtl ol, .rtl ul {
	margin: 0 1.5em 0 0;
}

.posthilit {
	background-color: #fff;
	color: #e30304;
}

.postsubject {
	font-size: 12px;
	font-weight: bold;
	color: #325375;
}

.postbody a { text-decoration: underline; }

/* UCP */
.folder-current a, .folder-current a:visited {
	color: #e30304;
	font-weight: bold;
}
.folder-current a:hover { color: #e30304; }

td.pm_marked_colour { background: #e30304; }
td.pm_marked_colour_left { border-left: solid 3px #e30304; padding-left: 2px; }
td.pm_marked_colour_right { border-right: solid 3px #e30304; padding-right: 2px; }

td.pm_replied_colour { background: #325375; }
td.pm_replied_colour_left { border-left: solid 3px #325375; padding-left: 2px; }
td.pm_replied_colour_right { border-right: solid 3px #325375; padding-right: 2px; }

td.pm_friend_colour { background: #007700; }
td.pm_friend_colour_left { border-left: solid 3px #007700; padding-left: 2px; }
td.pm_friend_colour_right { border-right: solid 3px #007700; padding-right: 2px; }

td.pm_foe_colour { background: #b54d4e; }
td.pm_foe_colour_left { border-left: solid 3px #b54d4e; padding-left: 2px; }
td.pm_foe_colour_right { border-right: solid 3px #b54d4e; padding-right: 2px; }


/* Form Elements
 ------------ */
form {
	margin: 0px;
	padding: 0px;
	border: 0px;
}

textarea, select, .post, .btnbbcode, .btnmain, .btnlite, .btnfile, .helpline {
	font-weight: normal;
	font-family: "Lucida Grande", Verdana, Helvetica, sans-serif;
	color: #000;
	border: 1px solid #768da4;
	background-color: #eff2f5;
}
.cat .btnmain, .cat .btnlite, .cat select {
	color: #325375;
	background-color: #eff2f5;
    border-color: #768da4;
}

input {
	font-size: 1.1em;
	padding: 1px;
}
textarea {
	font-size: 1.3em; 
	line-height: 1.4em;
	padding: 2px;
}
select {
	font-size: 1.1em;
	padding: 1px;
}

option {
	padding: 0 1em 0 0;
}

.rtl option {
	padding: 0 0 0 1em;
}

.post {
	border-style: solid;
	border-width: 1px;
}

.btnbbcode {
	font-size: 1.1em;
	color: #57687a;
	border: 1px solid #c2c8d0;
	background-color: #e4e8ed;
}
.btnbbcode:hover {
	color: #325375;
	border-color: #8fa3b8;
}

.btnmain {
	font-weight: bold;
	cursor: pointer;
	padding: 1px 5px;
	font-size: 1.1em;
}

.btnlite {
	font-weight: normal;
	cursor: pointer;
	padding: 1px 5px;
	font-size: 1.1em;
}

.btnfile {
	font-weight: normal;
	padding: 1px 5px;
	font-size: 1.1em;
}

.helpline {
	background-color: transparent;
	color: #57687a;
	border-style: none;
}
#helpline { color: #57687a; }

input:focus, select:focus, textarea:focus {
    outline-style: none;
}

* html textarea, * html select, * html .post, * html .btnmain, * html .btnlite, * html .btnfile {
}
* html .cat .btnmain, * html .cat .btnlite {
}
textarea:hover, select:hover, .post:hover, .btnmain:hover, .btnlite:hover, .btnfile:hover {
	border-color: #25405b;
}
textarea:focus, select:focus, .post:focus, .btnmain:focus, .btnlite:focus, .btnfile:focus {
	border-color: #25405b; 
	color: #000;
	background-color: #fff;
}
.cat .btnmain:hover, .cat .btnlite:hover, .cat select:hover {
	border-color: #325375;
	color: #25405b; 
}
.cat .btnmain:focus, .cat .btnlite:focus, .cat select:focus {
	border-color: #25405b; 
    color: #000;
}

label:hover { 
	color: #325375; 
}

textarea.posting-textarea, #ie8#fix {
    /*width: 98%;*/
	width: 700px; 
	height: 270px; 
	min-width: 98%; 
	max-width: 98%;
}

/* BBCode
 ------------ */
.bb-wrapper {
	clear: both;
	margin: 10px 20px;
}
.bb-wrapper .bb-wrapper {
	margin: 5px 10px;
}
.bb-left-top, .bb-right-top, .bb-left-bot, .bb-right-bot {
    width: 4px;
    height: 4px;
    overflow: hidden;
    padding: 0;
}
.bb-left-top { background: url(images/bb_left_top.gif) top left no-repeat; }
.bb-right-top { background: url(images/bb_right_top.gif) top right no-repeat; }
.bb-left-bot { background: url(images/bb_left_bot.gif) bottom left no-repeat; }
.bb-right-bot { background: url(images/bb_right_bot.gif) bottom right no-repeat; }
.bb-top, .bb-bot {
    height: 4px;
    overflow: hidden;
    padding: 0;
}
.bb-top { background: #e4e8ed url(images/bb_top.gif) top left repeat-x; }
.bb-bot { background: #e4e8ed url(images/bb_bot.gif) bottom left repeat-x; }
.bb-left, .bb-right {
    width: 4px;
    overflow: hidden;
    background-color: #e4e8ed;
    padding: 0;
}
.bb-left { border-left: solid 1px #8c9dae; }
.bb-right { border-right: solid 1px #8c9dae; }
.bb-content {
    background-color: #e4e8ed;
    padding: 0 2px;
}
.bb-quote { 
    background-image: url(images/bg_quote.gif);
    background-repeat: no-repeat;
    background-position: top right;
}
.bb-code { 
    background-image: url(images/bg_code.gif);
    background-repeat: no-repeat;
    background-position: top right;
}
.bb-attach { 
    background-image: url(images/bg_attach.gif);
    background-repeat: no-repeat;
    background-position: top right;
}
  
 
.quotetitle, .attachtitle, .codetitle {
	color: #325375;
	font-size: 0.85em;
	font-weight: bold;
	padding-bottom: 3px;
}
.quotetitle .quotetitle {
	font-size: 1em;
}

.quotecontent, .attachcontent {
	font-weight: normal;
	font-size: 1em;
	line-height: 1.4em;
/*	font-family: "Lucida Grande", "Trebuchet MS", Helvetica, Arial, sans-serif; */
	color: #373f47;
}
.attachcontent {
	font-size: 0.85em;
}

.codecontent {
	direction: ltr;
	font-weight: normal;
	font-size: 11px;
	font-family: Monaco, 'Courier New', monospace;
	color: #373f47;
}

.attachcontent, .codecontent {
	overflow: auto;
	overflow-x: auto;
}

.syntaxbg {
	color: #373f47;
}

.syntaxcomment {
	color: #57687a;
}

.syntaxdefault {
	color: #373f47;
}

.syntaxhtml {
	color: #373f47;
}

.syntaxkeyword {
	color: #354759;
}

.syntaxstring {
	color: #325375;
}


/* More misc stuff */
h1 {
	font-family: "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
	font-weight: bold;
	font-size: 1.8em;
	text-decoration: none;
}

h2 {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 1.5em;
	text-decoration: none;
	line-height: 120%;
}

h3 {
	font-size: 1.3em;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 120%;
}

h4 {
	margin: 0px;
	font-size: 1.1em;
	font-weight: bold;
}

p {
	font-size: 1.1em;
}

p.moderators {
	margin: 0px;
	float: left;
	color: #325375;
	font-weight: bold;
}

.rtl p.moderators {
	float: right;
}

p.linkmcp {
	margin: 0px;
	float: right;
	white-space: nowrap;
}

.rtl p.linkmcp {
	float: left;
}

p.searchbar {
	padding: 2px 0;
	white-space: nowrap;
} 

p.searchbarreg {
	margin: 0px;
	float: right;
	white-space: nowrap;
}

.rtl p.searchbarreg {
	float: left;
}

p.forumdesc {
	padding-bottom: 4px;
}

p.topicauthor {
	margin: 1px 0px;
}

p.topicdetails {
	margin: 1px 0px;
}
td.history-current, tr.row1 td.history-current, tr.row2 td.history-current {
	background: #fff;
	color: #e30304;
}

table.colortable td {
	padding: 0;
}

pre {
	font-size: 1.1em;
	font-family: Monaco, 'Courier New', monospace;
}

.nowrap {
	white-space: nowrap;
}

.username-coloured {
	font-weight: bold;
}

.sep {
	color: #325375;
}


/* reset style for file input */
.btnfile, .btnfile:hover, .btnfile:focus { 
    border: none; 
    background-color: #FFF;
    color: #000;
}
